h1{
	background-color:cyan;
	color:green;
	font-family: cursive;
}
p{
	background-color:blueviolet;
	color:green;
	font-family: cursive;
}
h2{
	background-color:skyblue;
	color:green;
	font-family: cursive;
}
p{
	background-color:red;
	color:green;
	font-family: cursive;
}